// ===================== Réglage ==================

$text: 'Roboto', sans-serif;
$logo_title: 'Shrikhand', cursive;

$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tert_color: #99E2D0;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $text;
}

main {
    width: 95%;
    margin: 0 auto;
}

// ================ Header ==================

.header__container {
    width: 100%;
    padding: 15px 0;
    border-bottom: 5px solid rgba(0,0,0,0.15);
        img {
            display: block;
            height: auto;
            width: 200px;

            margin: 0 auto;
        }
}

// ================ landing page =======================

.landing_page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    margin-bottom: 100px;

        .landing_page__input {
            margin-top: 10px;
            padding: 5px;

            i {
                font-size: 20px;
                margin-right: 20px;
            }

            input {
                border: none;
                font-size: 20px;
                width: 150px;
            }
        }

        .landing_page__card {
            font-size: 20px;
            text-align: center;
            width: 90%;
            max-height: 100%;
            margin-top: 20px;

            h1,p,button {
                margin-bottom: 30px;
            }

            h1 {
                width: 80%;
                margin: 30px auto;
            }

            button {
                padding: 15px 30px;
                border-radius: 40px;
                font-size: 18px;
                font-weight: 500;
                background: rgb(255,121,218);
                background: linear-gradient(184deg, rgba(255,121,218,1) 24%, rgba(147,86,220,1) 100%);
                color: rgb(230, 228, 228);
                border: none;
                box-shadow: 5px 5px 15px -10px #000000;
            }
        }

}

// ==================== fonctionnement =====================

.fonctionnement__title {
    font-size: 35px;
}

.fonctionnement__card {
    display: flex;
    flex-direction: column;

    margin-bottom: 140px;


    .fonctionnement__card__item {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        margin-top: 40px;
        padding: 30px;
        border-bottom: 3px solid rgba(0, 0, 0, 0.109);
    
            i {
                margin-right: 15px;
                margin-left: 10px;
                font-size: 23px;
                color: gray;

                &:hover {
                    color: $primary_color;
                }
            }

            .fa-circle {
                color: $primary_color;
                font-size: 30px;
            }
    }
}



// ========================= Restaurant ====================


.restaurants_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .restaurants__card {
        box-shadow: 0px 0px 15px -5px #000000;
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin: 10px auto;

        span {
            background-color: rgb(143, 255, 182);
            color: rgb(10, 150, 87);
            font-size: 13px;
            padding: 5px 10px;
            position:relative;
            top: -275px;
            left: 345px;
        }

        .fa-heart {
            color: $primary_color;
            font-size: 25px;
        }
        
        img {
            border-radius: 20px 20px 0 0;
            height: auto;
            width: 100%;
        }

        .restaurants__card__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }
    }
}

// ================== footer ======================

footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 30px 20px;
    background-color: rgb(55, 54, 54);
    color: whitesmoke;
    width: 100%;
    margin-top: 40px;
    line-height: 30px;

    h4 {
        font-family: $logo_title;
        font-weight: lighter;
        font-size: 20px;
        margin-bottom: 15px;
    }
}

.footer__container i {
    width: 10px;
    margin-right: 10px;
    font-size: 13px;
}
