.background_img {
    background-image: url('/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
}

.resto_carte {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -30px auto 0px auto;
    border-radius: 30px;
    background-color: rgb(247, 244, 244);

    .resto_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin: 0 auto;
        font-size: 19px;
        font-family: $logo_title;
        padding: 30px 0;
            i {
                font-size: 30px;
                margin-right: 30px;
                color: aquamarine;
            }
    }

}

.entree, .plats, .desserts {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: 0 auto 20px auto;
    
     h2 {
        font-size: 16px;
        font-weight: lighter;
        text-transform: uppercase;
        width: 40px;
        padding-bottom: 5px;
        border-bottom: 3px solid rgba(19, 212, 103, 0.578);
    }

}

.entree__carte,
.plats__carte,
.desserts__carte {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.entree_item,
.plats_item,
.desserts_item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    background-color: white;
    margin-top: 15px;
    padding: 12px;
    border-radius: 12px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.109);
    @include box-shadow(2px, 2px, 12px, -9px);

        h3 {
            margin-bottom: 4px;
        }

        p {
            font-weight: lighter;
        }

        .price {
            align-self: flex-end;
            font-size: 14px;
            margin-right: 10px;
            font-weight: 600;
        }
}

.resto_button {
    display: block;
    margin: 20px auto 100px auto;
}