@media only screen and (min-width: 768px){

// ==================== home page =====================

.landing_page__container {
    height: 400px;

    .landing_page__localisation {
        p {
            font-size: 20px;
        }
    }

    .landing_page__card {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 25px;
        }

        button {
            margin-top: 20px;
            font-size: 25px;
        }
    }
}

.fonctionnement__card__item {
    font-size: 20px;
}

.restaurants_grid .restaurants__card {
    height: 285px;
    max-height: 285px;

    .restaurants__card__content {
        font-size: 25px;
    }
}

.heart-box {
    margin-right: 50px;
    margin-top: 15px;

    .heart_full {
        font-size: 40px;
        &::after {
            top: 0;
            left: 0;
            
        }
    
    }
    
    .heart_empty {
        font-size: 40px;
    }
}

.header__resto,
.header__home {
    height: 100px;
  }

footer {
    font-size: 20px;
    padding: 50px 0;

    h4 {
        text-align: center;
        font-size: 25px;
    }

    .footer__container {
        display: flex;
        justify-content: space-around;
    }
}

// ================= Page restaurant ===========================

.entree h2, .plats h2, .desserts h2 {
    font-size: 20px;
}

.carte__item .bloc_1 {
    font-size: 20px;

    .price {
        font-size: 20px;
    }
}

.resto_carte .resto_title {
    font-size: 25px;
}

.resto_button {
    font-size: 25px;
}

.carte__item {

    &:hover {

        .bloc_1 {
            .price {
                margin-right: 120px;
            }
        }

        .bloc_2 {
            right: -40px;

            i {
                font-size: 2em;
                margin-left: 40px;
                margin-top: 20px;
            }
        }
    }
}
}